In [13]:
import pandas as pd

In [15]:
arab = pd.read_csv("quran-simple-clean.txt", sep="|", header=None, names=["Sura", "Verso", "Texto"])
arab.head()

  Sura  Verso                   Texto
0    1    1.0  بسم الله الرحمن الرحيم
1    1    2.0   الحمد لله رب العالمين
2    1    3.0           الرحمن الرحيم
3    1    4.0          مالك يوم الدين
4    1    5.0  إياك نعبد وإياك نستعين

In [12]:
eng = pd.read_csv("en.sahih.txt", sep="|", header=None, names=["Sura", "Verso", "Texto"])
eng.head()

  Sura  Verso                                              Texto
0    1    1.0  In the name of Allah, the Entirely Merciful, t...
1    1    2.0  [All] praise is [due] to Allah, Lord of the wo...
2    1    3.0    The Entirely Merciful, the Especially Merciful,
3    1    4.0                Sovereign of the Day of Recompense.
4    1    5.0      It is You we worship and You we ask for help.